.home {
  height: 100%;
  width: 100%;
  display: flex;
}
.home-left {
  width: 80%;
}
.home-right {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.home-diapo {
  width: 100%;
  height: 80%;
}
.home-spotify {
  width: 100%;
  height: 20%;
}
.home-logo {
  background-color: yellow;
  width: 100%;
}
.home-logo:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.home-meteo {
  background-color: red;
  width: 100%;
  height: 100%;
}
