.home {
  height: 100%;
  width: 100%;
  display: flex;
  background-color: rgb(48, 64, 103);
}
.home-left {
  width: 80%;
}
.home-right {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.home-diapo {
  width: 100%;
  height: 80%;
  padding-left: 8px;
  padding-top: 8px;
}
.home-spotify {
  width: 100%;
  height: 20%;
  padding: 8px;
  padding-right: 0px;
}
.home-logo {
  width: 100%;
  padding: 8px;
}
.home-logo:after {
  content: '';
  display: block;
}

.home-meteo {
  width: 100%;
  height: 100%;
  padding: 8px;
  padding-bottom: 0px;
}
