.spotify-container {
  background-color: rgb(15, 208, 98);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}
.spotify-logo {
  position: absolute;
  height: 20%;
  bottom: 0;
  left: 0;
  padding: 8px;
}
.spotify-logo:after {
  content: '';
  display: block;
  padding-left: 100%;
}
.spotify-logo > img {
  position: relative;
  height: 100%;
}
.spotify-infos {
  width: 95%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.spotify-song {
  font-size: 20px;
  max-width: 60%;
  text-align: center;
  margin-bottom: 20px;
}
.spotify-progress-bar {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 15px;
}
.spotify-bar {
  margin-bottom: 3px;
  margin-left: 20px;
  margin-right: 20px;
}
