
html {
  -ms-overflow-style: none;
}

.home {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 16px;
  height: 100%;
}